################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FilterCavity/.vs/FilterCavity
/FilterCavity/FilterCavity/__vm
